<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Gallery</title>
</head>
<body>
          <h1>Welcome to THE GALLERY</h1>
          {% for photo in gallery %}
                    <div style="display: inline-block; margin-right: 20px; vertical-align: top;">
                              <table>
                                        <tr>
                                                  <td>
                                                            <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" style="max-width: 200px">
                                                  </td>
                                                  <td>
                                                            <p style="margin-bottom: 100px;">{{ photo.photo_details }}</p>
                                                  </td>
                                        </tr>
                              </table>
                    </div>
          {% endfor %}
</body>
</html>